<sly data-sly-template.reportresults="${@ resources}">
   <table  class="component-usage-report-viewer-table display table table-striped table-bordered table-hover" cellspacing="0" style="width:100%">
      <thead  class="thead-dark">
         <tr>
            <th class="th-sm">Component Path</th>
            <th class="th-sm">Page</th>
            <th class="th-sm">Created By</th>
            <th class="th-sm">Created On</th>
            <th class="th-sm">Last Modified By</th>
            <th class="th-sm">Last Modified On</th>
         </tr>
      </thead>
      <tbody>
         <sly data-sly-repeat="${resources}">
            <sly data-sly-use.table="${'com.adobe.aemtools.core.models.ViewReportsModel'@ nodePath=item.path}">
               <sly data-sly-test.linkMap="${table.pageMap}">
                  <tr>
                     <td>
                        ${item.path}
                     </td>
                     <td>                  
                        <a href="${linkMap['pagePath']}" target="_blank"> ${linkMap['pageName']}</a>
                     </td>
                     <td>
                        ${item.jcr:createdBy}
                     </td>
                     <td>${'dd-MM-yyyy HH:mm' @ format=item.jcr:created}</td>
                     <td>
                        ${item.jcr:lastModifiedBy}
                     </td>
                     <td>${'dd-MM-yyyy HH:mm' @ format=item.jcr:created}</td>
                  </tr>
               </sly>
            </sly>
         </sly>
      </tbody>
      <tfoot  class="thead-dark">
         <tr>
            <th class="th-sm">Component Path</th>
            <th class="th-sm">Page</th>
            <th class="th-sm">Created By</th>
            <th class="th-sm">Created On</th>
            <th class="th-sm">Last Modified By</th>
            <th class="th-sm">Last Modified On</th>
         </tr>
      </tfoot>
   </table>
</sly>