<table is="coral-table" selectable multiple >
   <colgroup>
      <col is="coral-table-column" fixedwidth>
      <col is="coral-table-column" sortable >
      <col is="coral-table-column" sortable  >
      <col is="coral-table-column" sortable >
      <col is="coral-table-column" sortable >
      <col is="coral-table-column" fixedwidth >
   </colgroup>
   <thead is="coral-table-head">
      <tr is="coral-table-row">
         <th is="coral-table-headercell">
            <coral-checkbox coral-table-select></coral-checkbox>
         </th>
         <th is="coral-table-headercell">Name</th>
         <th is="coral-table-headercell">Description</th>
         <th is="coral-table-headercell">Created By</th>
         <th is="coral-table-headercell">Created On</th>
         <th is="coral-table-headercell">View Report</th>
      </tr>
   </thead>
   <tbody is="coral-table-body"  divider="cell">
      <sly data-sly-use.model="com.adobe.aemtools.core.models.ReportListerModel">
         <sly data-sly-test.reportViewerPath='${model.toolPath}/viewreport.html'/>
         <sly data-sly-test="${model.allReports}" data-sly-list.child="${model.allReports}">
            <tr is="coral-table-row"  data-foundation-collection-item-id="${child.path}">
               <td is="coral-table-cell">
                  <coral-checkbox coral-table-rowselect ></coral-checkbox>
               </td>
               <td is="coral-table-cell">${child.title}</td>
               <td is="coral-table-cell">${child.description}</td>
               <td is="coral-table-cell">
                  <coral-icon icon="user" size="S"></coral-icon>
                  ${child.jcr:createdBy}
               </td>
               <td is="coral-table-cell">${'yyyy-MM-dd HH:mm' @ format=child.jcr:created, type='date'} </td>
               <td is="coral-table-cell">
                  <a target="_blank" href="${reportViewerPath @ suffix=child.path}" is="coral-anchorbutton" variant="primary" icon="browse" iconsize="XS">
                  View Report
                  </a>
               </td>
            </tr>
         </sly>
      </sly>
   </tbody>
</table>
<coral-dialog id="report-lister-dialog" variant="error" closable="on" movable>
   <coral-dialog-header>Dialog Header</coral-dialog-header>
   <coral-dialog-content>This is the dialog's content</coral-dialog-content>
   <coral-dialog-footer>
      <button is="coral-button" variant="primary" coral-close="" class="coral-Button coral-Button--primary" size="M">
         <coral-button-label>Ok</coral-button-label>
      </button>
   </coral-dialog-footer>
</coral-dialog>